<div class="container align-content-center">
  <h2>Managing Office 365 Identities and Requirements</h2>
</div>
<div class="container">
  <a href="https://support.office.com/en-us/office365admin" target="_blank">Office Admin</a>
  <a href="https://mva.microsoft.com/product-training/office-365#!lang=1033" target="_blank">MVA Videos</a>
</div>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Provision Office 365 (15–20%)">
    <ng-template ngbPanelContent>
      <h4>Provision Tenants</h4>
      <ul>
        <li><p class="lead">Configure the tenant name, tenant region, initial global administrator;</p></li>
        <li><p class="lead">Manage tenant subscriptions;</p></li>
        <li><p class="lead">Manage the licensing model;</p></li>
        <li><p class="lead">Configure tenant for new features and updates</p></li>
      </ul>
      <h4>Add and Configure Custom Domains</h4>
      <ul>
        <li>
          <p class="lead">Specify domain name, confirm ownership, specify domain purpose, set default domain,
            and move ownership of DNS to Office 365, update and verify domain settings</p>
        </li>
      </ul>
      <h4>Plan a Pilot</h4>
      <ul>
        <li><p class="lead">Designate pilot users;</p></li>
        <li><p class="lead">Identify workloads that don’t require migration;</p></li>
        <li><p class="lead">Run the Office 365 Health, Readiness, and Connectivity Checks;</p></li>
        <li><p class="lead">run IdFix;</p></li>
        <li><p class="lead">Create a test plan or use case, and setup email accounts for pilot users;</p></li>
        <li><p class="lead">understand service descriptions and planning to onboard users to Office 365;</p></li>
        <li><p class="lead">engage with the FastTrack Center to onboard Office 365 services</p></li>
      </ul>
      <br/>
      <h4><b>Preparation Resources</b></h4>
      <a href="https://www.microsoftpressstore.com/articles/article.aspx?p=2419713" target="_blank">MS Walk Through</a>
      <a href="https://www.bettercloud.com/monitor/user-provisioning-office-365/" target="_blank">User Provisioning Step by Step</a>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Plan and Implement Networking and Security in Office 365 (15–20%)">
    <ng-template ngbPanelContent>
      <h4>Configure DNS records for services</h4>
      <ul>
        <li><p class="lead">Create DNS records for Exchange Online, Skype for Business Online, and SharePoint Online,
          update and verify DNS records for Office 365 settings</p></li>
      </ul>
      <h4>Enable client connectivity to Office 365</h4>
      <ul>
        <li><p class="lead">Configure proxy to allow client access to Office 365 URLs, configure firewalls for outbound
          port access to Office 365, recommend bandwidth, configure Internet connectivity for clients, deploy desktop
          setup for previous versions of Office clients</p></li>
      </ul>
      <h4>Administer Microsoft Azure Rights Management (RM)</h4>
      <ul>
        <li><p class="lead">Activate rights management, configure Office integration with rights management, assign
          roles for rights management, enable recovery of protected documents,
          setup templates for rights management protected email</p></li>
      </ul>
      <h4>Manage administrator roles in Office 365</h4>
      <ul>
        <li><p class="lead">Implementing a permission model;
          create or revoke assignment of administrative roles or the administrative model;
          determine and assign Global administrator, Billing administrator, Exchange administrator, Password administrator,
          Skype for Business administrator, Service administrator, SharePoint administrator, User management administrator,
          and delegated administrator</p></li>
      </ul>
      <h4><b>Preparation Resources</b></h4>
      <a href="http://office.microsoft.com/en-us/office365-suite-help/create-dns-records-for-office-365-when-you-manage-your-dns-records-ha102851099.aspx" target="_blank">Create DNS records for Office 365 when you manage your DNS records</a>
      <a href="https://support.office.com/en-us/article/Assign-admin-roles-in-Office-365-for-business-eac4d046-1afd-4f1a-85fc-8219c79e1504?ui=en-US&rs=en-US&ad=US" target="_blank">Assigning admin roles in Office 365</a>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Manage Cloud Identities (15–20%)">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Implement and Manage Identities by Using Azure AD Connect (15–20%)">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Implement and Manage Federated Identities for Single Sign-On (SSO) (15–20%)">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Monitor and Troubleshoot Office 365 Availability and Usage (15–20%)">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>


